@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));

@theme {
	--color-success: oklch(0.6334 0.171 148.65);
	--color-success-accent: oklch(0.271 0.0537 151.74);
	--color-success-focus: oklch(0.3887 0.0924 150.55);
	--color-success-border: oklch(0.5388 0.1339 149.74);
	--color-success-hover: oklch(0.6901 0.1748 149.64);
	--color-success-text: oklch(0.7761 0.2117 148.55);
	--color-error: oklch(0.64 0.22 26.04);
	--color-error-accent: oklch(0.2567 0.0648 22.77);
	--color-error-focus: oklch(0.2973 0.0922 24.71);
	--color-error-border: oklch(0.4423 0.146 25.48);
	--color-error-hover: oklch(0.6786 0.2095 24.66);
	--color-error-text: oklch(0.719 0.1751 22.5);
	--color-warning: oklch(0.8016 0.1705 73.27);
	--color-warning-accent: oklch(0.2663 0.0372 84.34);
	--color-warning-focus: oklch(0.3744 0.0636 81.14);
	--color-warning-border: oklch(0.5461 0.1088 77.73);
	--color-warning-hover: oklch(0.8342 0.1594 79.51);
	--color-warning-text: oklch(0.8342 0.1594 79.51);
	--color-info: oklch(0.6092 0.2041 255.8);
	--color-info-accent: oklch(0.2544 0.0418 249.78);
	--color-info-focus: oklch(0.3147 0.0668 250.78);
	--color-info-border: oklch(0.5067 0.1401 252.67);
	--color-info-hover: oklch(0.6722 0.1615 251.56);
	--color-info-text: oklch(0.6722 0.1615 251.56);
	--color-bg: oklch(0.144 0.0028 247.09);
	--color-fill1: oklch(0.191 0.0043 264.47);
	--color-fill2: oklch(0.2342 0.0065 258.36);
	--color-fill3: oklch(0.2764 0.0079 264.44);
	--color-fill4: oklch(0.3162 0.0099 260.71);
	--color-fg: oklch(0.9764 0.0013 286.38);
	--color-fg-secondary: oklch(0.6726 0.0172 266.22);
	--color-fg-tertiary: oklch(0.5686 0.0213 265.87);
	--color-fg-disabled: oklch(0.4632 0.0174 264.39);
	--color-fg-inverse: oklch(0.2342 0.0065 258.36);
	--color-border: oklch(0.2764 0.0079 264.44);
	--color-alpha: color-mix(in srgb, oklch(1 0 0), transparent 88%);
	--color-soft: oklch(0.2342 0.0065 258.36);
	--color-soft-alpha: color-mix(in srgb, oklch(1 0 0), transparent 92%);
	--color-elevation-negative: oklch(0 0 0);
	--color-elevation-level1: oklch(0.191 0.0043 264.47);
	--color-elevation-level2: oklch(0.2342 0.0065 258.36);
	--color-white-inverse: oklch(0.144 0.0028 247.09);
	--color-black-inverse: oklch(1 0 0);
	--color-fill1-alpha: color-mix(
		in srgb,
		oklch(0.8599 0.0294 266.34),
		transparent 90%
	);
	--color-fill2-alpha: color-mix(
		in srgb,
		oklch(0.8599 0.0294 266.34),
		transparent 88%
	);
	--color-fill3-alpha: color-mix(
		in srgb,
		oklch(0.8599 0.0294 266.34),
		transparent 84%
	);
	--color-fill4-alpha: color-mix(
		in srgb,
		oklch(0.8599 0.0294 266.34),
		transparent 80%
	);
	--color-sidebar: var(--color-fill1);
	--color-sidebar-fg: var(--color-fg);
	--color-sidebar-accent: var(--color-fill1-alpha);
	--color-sidebar-accent-fg: var(--color-fg);
	--color-sidebar-border: var(--color-border);
	--color-sidebar-ring: var(--color-fg-secondary);
	--color-primary: oklch(1 0 0);
	--color-primary-accent: oklch(0.2314 0.0078 274.6);
	--color-primary-focus: oklch(0.2738 0.0093 276.77);
	--color-primary-border: oklch(0.2738 0.0093 276.77);
	--color-primary-hover: oklch(0.9349 0.004 286.32);
	--color-primary-text: oklch(0.6619 0.0235 285.74);
	--color-primary-fg: oklch(0.2764 0.0079 264.44);
}

@layer base {
	body {
		@apply font-body bg-bg text-fg;
	}

	button,
	[role="button"],
	input[type="button"],
	input[type="submit"],
	input[type="reset"] {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		will-change: auto;
	}

	button[class*="bg-gradient"],
	[role="button"][class*="bg-gradient"] {
		will-change: background-image;
	}
}

@utility font-heading {
	font-family: var(--heading-font);
}

@utility font-body {
	font-family: var(--body-font);
}

@utility heading-1 {
	@apply font-heading text-[2.25rem] leading-[2.75rem] font-semibold;
	@media (width >=theme(--breakpoint-sm)) {
		font-size: 3rem;
		line-height: 3.5rem;
	}
	@media (width >=theme(--breakpoint-lg)) {
		font-size: 4rem;
		line-height: 4.5rem;
	}
}

@utility heading-2 {
	@apply font-heading text-[2rem] leading-[2.5rem] font-semibold;
	@media (width >=theme(--breakpoint-sm)) {
		font-size: 2.5rem;
		line-height: 3rem;
	}
	@media (width >=theme(--breakpoint-lg)) {
		font-size: 3rem;
		line-height: 3.5rem;
	}
}

@utility heading-3 {
	@apply font-heading text-[1.875rem] leading-[2.375rem] font-semibold;
	@media (width >=theme(--breakpoint-sm)) {
		font-size: 2.25rem;
		line-height: 2.75rem;
	}
	@media (width >=theme(--breakpoint-lg)) {
		font-size: 2.5rem;
		line-height: 3rem;
	}
}

@utility heading-4 {
	@apply font-heading text-[1.75rem] leading-[2.25rem] font-semibold;
	@media (width >=theme(--breakpoint-sm)) {
		font-size: 1.875rem;
		line-height: 2.375rem;
	}
	@media (width >=theme(--breakpoint-lg)) {
		font-size: 2rem;
		line-height: 2.5rem;
	}
}

@utility heading-5 {
	@apply font-heading text-[1.5rem] leading-[2rem] font-semibold;
}

@utility heading-6 {
	@apply font-heading text-[1.25rem] leading-[1.75rem] font-semibold;
}

@utility body-15 {
	@apply font-body text-[0.9375rem] leading-[1.375];
}

@utility text-sm-p {
	@apply font-body text-sm leading-[1.25rem];
}

@utility body-13 {
	@apply font-body text-[0.8125rem] leading-[1.125rem];
}

@utility no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}
